<h2>Cadastro de Produtos</h2>

<form #f="ngForm" (ngSubmit)="enviar(f)">

  <div class="form-group">
    <label for="descricao">Descrição</label>
    <input type="text" class="form-control" id="descricao" name="descricao" required [(ngModel)]="produto.descricao" />
  </div>

  <div class="form-group">
    <label for="marca">Marca</label>
    <input type="text" class="form-control" id="marca" name="marca" [(ngModel)]="produto.marca" />
  </div>

  <div class="form-group">
    <label for="cod_barras">Código de barras</label>
    <input type="number" class="form-control" id="cod_barras" name="cod_barras" [(ngModel)]="produto.cod_barras" minlength="8" maxlength="13" />

    <div class="alert alert-danger" *ngIf="cod_barras.errors.minlength || cod_barras.errors.maxlength">
      O código de barras deve ter entre 8 e 13 dígitos
    </div>

  </div>

  <div class="form-group">
    <label for="preco">Preço</label>
    <input type="number" class="form-control" id="preco" name="preco"
      [(ngModel)]="produto.preco" step="0.01" />
  </div>

  <div class="form-group">
    <label for="quantidade">Quantidade</label>
    <input type="number" step="0.01" class="form-control" id="quantidade" name="quantidade" required [(ngModel)]="produto.quantidade" />
  </div>

  <div class="form-group">
    <label for="data_validade">Data de validade</label>
    <input type="date" class="form-control" id="data_validade" name="data_validade" [(ngModel)]="produto.data_validade" />
  </div>

  <div class="form-group">
    <label for="categoria">Categoria</label>
    <select class="form-control" id="categoria" name="categoria" required [(ngModel)]="produto.categoria">
      <option *ngFor="let cat of categorias" [ngValue]="cat._id">
        {{cat.descricao}}
      </option>
    </select>
  </div>

  <div class="text-center">
    <input type="submit" class="btn btn-primary" value="Enviar" />
  </div>

</form>